*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
 
a {
  color: white;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
}

.nav-header {
  background: #444;
  padding: 2rem 0;
  display: flex;
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-brand {
  font-size: 1.3rem;
  margin-left: 1rem;
  display: block;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 1rem;
}

.nav-link {
  margin-left: 1rem;
}

/* Main  */

main {
  text-align: center;
}

.hero {
  padding-top: 114px;
  min-height: 100vh;
  background: center / cover  no-repeat url('https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1400');
  position: relative;
}

.text-box {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

.about {
  padding: 4rem 0 114px;
  background: grey;
}

.about-title {
  margin: 1.5rem 0;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.about-subtitle {
  margin-bottom: 2rem;
}

.about-text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

footer {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3rem 0;
  width: 100%;
  text-align: center;
}